<script lang="ts">
  import { Button, Card, Img, P } from "flowbite-svelte";
  import { Icon } from "flowbite-svelte-icons";

  function parseAuthors(authors: Array<{ name: string, id: string }>): string {
    if (authors.length === 0) {
      return 'Anonymous';
    } else if (authors.length === 1) {
      return authors[0].name;
    } else if (authors.length === 2) {
      return `${authors[0].name} and ${authors[1].name}`;
    } else {
      return `${authors.slice(0, -1).map((author) => author.name).join(', ')} and ${authors[authors.length - 1].name}`;
    }
  }

  export let data;
  const url = 'https://developers-keep.com/blog';
  const image = 'https://developers-keep.com/brand/logo-1000px.png';
</script>

<svelte:head>
  <title>Blog</title>
  <meta property="og:type" content="website">
  <meta property="og:url" content={ url }>
  <meta property="og:title" content="Developer's Keep - Blog">
  <meta property="og:description" content="The Blog for the Developer's Keep Discord Server.">
  <meta property="og:image" content={ image }>
</svelte:head>

{#if data.previews.length > 0}
  <div class="m-2 my-4">
    {#each data.previews as post}
      <Card class="m-2">
        <Img src={post.image} alt={post.title} class="w-auto h-32 2xl:h-48 mb-3 mx-auto" />
        <h5 class="mb-2 text-2xl 2xl:text-3xl text-center font-bold tracking-tight text-gray-900 dark:text-white">{ post.title }</h5>
        <p class="mb-3 2xl:text-xl font-normal text-justify text-gray-700 dark:text-gray-400 leading-tight">{ post.description }</p>
        <!-- Only author names for now -->
        <p class="mb-3 text-sm 2xl:text-lg italic text-gray-700 dark:text-gray-400 leading-tight">
          By { parseAuthors(post.authors) }
        </p>
        <Button href="/blog/{ post.slug }" class="2xl:text-xl">
          Read more <Icon name="arrow-right-outline" class="w-3.5 h-3.5 ml-2 text-white" />
        </Button>
      </Card>
    {/each}
  </div>
{:else}
  <P>No posts were found.</P>
{/if}