<script lang="ts">
	import '../app.postcss';

  import { Footer, FooterCopyright, Navbar, NavBrand, NavLi, NavUl } from "flowbite-svelte";

  // noinspection ES6PreferShortImport
  import type { Route } from '$lib/types';

  let menu: Array<Route> = [
    { name: 'Blog', href: '/blog' },
    { name: 'Invite', href: 'https://discord.com/invite/539Qcvs2aE' }
  ];
</script>


<div class="bg-primary-50 flex min-h-screen flex-col justify-start">
  <Navbar class="bg-primary-300 h-[10%]">
    <NavBrand href="/">
      <img src="/brand/logo-1000px.png"
           class="mr-3 h-8 sm:h-10 lg:h-14 rounded-full" alt="Logo" />
      <span class={[
            'self-center', 'whitespace-nowrap',
            'text-lg', 'md:text-2xl', 'lg:text-4xl',
            'font-semibold', 'dark:text-white'
      ].join(' ')}>
      Developer's Keep
    </span>
    </NavBrand>
    <!-- TODO: Hamburger for 'sm:' -->
    <NavUl>
      {#each menu as item}
        <NavLi href="{item.href}"
               class="text-primary-900 text-sm md:text-xl lg:text-3xl"
        >{item.name}</NavLi>
      {/each}
    </NavUl>
  </Navbar>

  <slot />

  <Footer class="mt-auto z-20 w-full h-[10%] rounded-[0] bg-primary-300">
    <FooterCopyright spanClass="2xl:text-lg text-primary-900" href="/" by="Developer's Keep" year={2023} />
  </Footer>
</div>
