<script lang="ts">
  const url = 'https://developers-keep.com';
  const image = 'https://developers-keep.com/brand/logo-1000px.png';
</script>

<svelte:head>
  <title>Developer's Keep</title>
  <meta property="og:type" content="website">
  <meta property="og:url" content={ url }>
  <meta property="og:title" content="Developer's Keep">
  <meta property="og:description" content="The Webpage for the Developer's Keep Discord Server.">
  <meta property="og:image" content={ image }>
</svelte:head>

<div class="mx-auto mt-[40vh] text-3xl 2xl:text-4xl font-bold">
  <p>Right now, this is an empty page.</p>
  <p>But it won't be for long!</p>
  <p>Meanwhile check out our <a href="/blog" class="text-primary-700">Blog</a>!</p>
  <p>- C0MPL3X-IV</p>
</div>