<script lang="ts">
  import { P } from 'flowbite-svelte';
  export let data;
  const title = data.post?.title ?? 'Post not found!';
  // Hardcoded for now, but may become dynamic in the future
  const url = 'https://developers-keep.com/blog';
</script>

<svelte:head>
  <title>{title}</title>
  {#if data.post !== null}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{ url }/{ data.post.slug }">
    <meta property="og:title" content={ data.post.title }>
    <meta property="og:description" content={ data.post.description }>
    <meta property="og:image" content={ data.post.image }>
  {/if}
</svelte:head>

{#if data.status === 200}
  <!--<div class="blog-content m-4 mx-40 p-4 bg-primary-50 rounded-[2rem]">-->
  <div class="blog-content p-4 px-5 sm:px-20 lg:px-40 2xl:px-80 bg-primary-50">
    <svelte:component this={data.post?.content} />
  </div>
{:else}
  <P>Post not found!</P>
{/if}