/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-content {
  & > h1 {
    @apply text-3xl xl:text-5xl text-center font-bold text-primary-800;
  }
  & > h2 {
    @apply text-2xl xl:text-4xl mb-2 text-center font-bold text-primary-800;
  }
  & > h3 {
    @apply xl:text-3xl mb-2 text-center font-bold text-primary-800;
  }
  & > ol {
    @apply list-decimal list-inside indent-4 my-4;
    & > li {
      @apply text-lg xl:text-2xl text-base;
    }
    & ul {
      @apply list-disc list-inside indent-12;
      & > li {
          @apply text-lg xl:text-2xl text-base;
      }
    }
  }
  & > ul {
    @apply list-disc list-inside indent-4 my-4;
    & > li {
      @apply text-lg xl:text-2xl text-base text-justify;
    }
  }
  & > hr {
    @apply my-4 mx-10 md:mx-40 lg:mx-60 border-2 border-primary-800;
  }
  & > p {
    @apply text-lg xl:text-2xl text-base text-justify;
  }
  & > small {
    @apply text-sm xl:text-lg text-xs text-justify;
  }
  & > a {
    @apply text-lg xl:text-2xl text-base text-primary-700;
  }
}